.benefits{
    padding-left: 15px;
    padding-right: 15px;

    font-weight: 400;
    line-height: 1.7;
}


.benefits-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.benefits-list__item {
    width: 100%;
}

.benefits-list__icon {
    display: flex;
    height: 120px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: var(--secondary-bgc);
}

.benefits-list__description {
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: var(--font-weight-title);
    text-transform: uppercase;

    color: var(--title-text-color)
}


// screen min480
@media screen and (min-width: 480px){
    .benefits-list__item {
        width: 450px;
    }
}

@media screen and (max-width: 767px){
    .benefits-list__description {
        text-align: center;
    }
}

// screen min768
@media screen and (min-width: 768px){
    .benefits-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .benefits-list__item {
        width: 354px;
    }

}

// screen min1200
@media screen and (min-width: 1200px){
    .benefits {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .benefits__section {
        padding-bottom: 0;
    }
    .benefits-list__item {
        width: 270px;
    }

}
