.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background: var(--accent-bgc);

    &__overlay {
            max-width: 1600px;
            margin-left: auto;
            margin-right: auto;
    
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/main_page/background.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    &__title {
            width: 700px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
    
            font-weight: var(--font-weight-banner);
            font-size: 44px;
            line-height: 1.4;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: var(--banner-text-color);
        }
}



.hero__button {
    display: flex;
    margin-left: auto;
    margin-right: auto;

    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;

    transition: background-color var(--time-and-function);

    font-family: inherit;
    font-weight: var(--font-weight-title);
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--banner-text-color);

    background: var(--button-bgc);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    &:hover,
    &:focus {
        background-color: var(--button-active-bgc);
    }
}

