.product__list {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}


.product__card {
    position: relative;
}

.product__overlay {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
}

.product__title {
    font-weight: var(--font-weight-title);
    text-transform: uppercase;
    
    color: var(--banner-text-color);
}