.logo{
    font-family: var(--secondary-font);
    font-weight: var(--font-weight-title);
    font-size: 26px;
}

.logo--header{
    color: var(--logo-text-black);
}

.logo--footer {
    display: block;
    margin-bottom: 20px;

    color: var(--banner-text-color);
}

.logo--blue {
    color: var(--accent-text-color);
}

@media screen and (min-width: 768px){
    .logo--header {
        margin-right: 87px;
    }
}

@media screen and (max-width: 1199px){
    .logo{
        text-align: center;
    }
}

@media screen and (min-width: 1200px){
    .logo--header {
            margin-right: 93px;
        }
}
