.section__title{
    margin-bottom: 50px;

    font-weight: var(--font-weight-title);
    font-size: 36px;
    text-align: center;
    color: var(--title-text-color);
}

.footer__title {
    font-weight: var(--font-weight-title);
    text-transform: uppercase;
    color: var(--primary-bgc);
    margin-bottom: 20px;
}