:root {
    /* bgc */
    --primary-bgc: #FFFFFF;
    --secondary-bgc: #F5F4FA;
    --accent-bgc: #2F303A;
    --button-bgc: #2196F3;
    --button-active-bgc: #188CE8;

    /* visial effects */
    --box-shadow: #000000;
    --border-header: #ECECEC;
    --border-card: #EEEEEE;
    --fill-icon: #AFB1B8;

    /* transform */
    --time-and-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);


    /* font */
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;

    /* color-font */
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --banner-text-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --logo-text-black: #000000;

    /* font-weight */
    --font-weight-banner: 900;
    --font-weight-title: 700;
    --font-weight-content: 500;
}